<div class="{{alertStyle}}" role="alert" *ngIf="rxStatus.code != ''">{{rxStatus.message}}</div>
<div>
  <h2>Nowa wizyta</h2>
  <hr/>
  <form class="form-horizontal" (ngSubmit)="onSubmit()"  #rxForm="ngForm" novalidate>
    <div class="form-group">
      <label for="user_id" class="col-sm-2 control-label">Email pacjenta</label>
      <div class="col-sm-6">
        <input type="email"
               class="form-control"
               id="user_id"
               placeholder="Email pacjenta"
               required
               [(ngModel)]="rx.patientId"
               name="patientId"
               #patientId="ngModel"
        >
        <div [hidden]="patientId.valid || patientId.pristine"
             class="alert alert-danger">
          Adres email jest wymagany
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="symptoms" class="col-sm-2 control-label">Objawy</label>
      <div class="col-sm-6">
        <textarea
               class="form-control"
               id="symptoms"
               placeholder="Objawy"
               required
               [(ngModel)]="rx.symptoms"
               name="symptoms"
               #symptoms="ngModel"
        ></textarea>
        <div [hidden]="symptoms.valid || symptoms.pristine"
             class="alert alert-danger">
          Symptomy są wymagane
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="medicine" class="col-sm-2 control-label">Leki</label>
      <div class="col-sm-6">
        <textarea
               class="form-control"
               id="medicine"
               placeholder="Leki"
               required
               [(ngModel)]="rx.medicine"
               name="medicine"
               #medicine="ngModel"
        ></textarea>
        <div [hidden]="medicine.valid || medicine.pristine"
             class="alert alert-danger">
          Leki są wymagane
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success"  [disabled]="!rxForm.form.valid">Dodaj</button>
      </div>
    </div>
  </form>
</div>

