<div>
    <div>
        <ol class="breadcrumb">
            <li><a href="/">Profil</a></li>
        </ol>
    </div>
    <ul class="nav nav-tabs  nav-justified">
        <li role="presentation" (click)="onSelect('stomatolog')"><a>Użytkownik</a></li>
    </ul>
    <h1>Dane</h1>
    <hr/>
    <div class="panel panel-info" >
        <div class="panel-heading"><strong>Imię nazwisko</strong></div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Email</strong>: admin@mail.pl</li>
                <li class="list-group-item"><strong>specjalność</strong>: duch</li>
            </ul>
            <div>
                <button type="button" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</div>