<div>
    <div>
        <ol class="breadcrumb">
            <li><a href="/">Główna</a></li>
            <li class="active">Gabinety</li>
        </ol>
    </div>
    <ul class="nav nav-tabs  nav-justified">
        <li role="presentation" class="active"><a routerLink="/hospital" routerLinkActive="active">All</a></li>
    </ul>
    <h1>Gabinet</h1>
    <hr/>
    <div class="panel panel-info"  *ngFor="let hospital of hospitals">
        <div class="panel-heading"><strong>{{hospital.hospitalName}}</strong></div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><strong>Ulica</strong>: {{hospital.address}}</li>
                <li class="list-group-item"><strong>Miasto</strong>: {{hospital.city_code}}</li>
            </ul>
            <div>
                <button type="button" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
</div>
